<app-header></app-header>

<div class="flex flex-col gap-4 px-4 py-8 max-w-5xl mx-auto bg-surface">
  <h1 class="text-primary text-4xl font-bold">Todos os Pokémons</h1>

  <div class="flex w-full gap-2">
    <label
      class="border-border focus-within:border-primary focus-within:ring-primary/30 flex flex-1 cursor-text items-center gap-2 rounded-xl border px-3 py-2 transition-all focus-within:ring-2"
    >
      <i-lucide [img]="SearchIcon" class="text-muted pointer-events-none size-5"></i-lucide>

      <input
        type="text"
        placeholder="Buscar Pokémon por nome..."
        class="text-muted placeholder:text-muted/70 flex-1 border-none bg-transparent text-sm outline-none"
      />
    </label>

    <select
      name="gen"
      id="gen"
      class="border-border rounded-xl border px-3 py-2"
      [(ngModel)]="selectedGeneration"
    >
      <option value="all">Todas as Gerações</option>
      @for (gen of generations; track gen) {
        <option value="{{ gen }}">{{ gen }}</option>
      }
    </select>
  </div>

  <div>
    <div
      class="animate-fade-in grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      @for (pokemon of pokemons; track pokemon.id) {
        <app-card-pokemon
          [name]="pokemon.name"
          [imageUrl]="pokemon.imageUrl"
          [types]="$any(pokemon.types)"
          [id]="pokemon.id"
        ></app-card-pokemon>
      }
    </div>
  </div>
</div>
