@import 'tailwindcss';

@theme {
  /* CORES */
  --color-bg: #ffffff;
  --color-surface: #f8fafc;
  /* cards e inputs */
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-muted: #6b7280;

  --color-primary: #eb2323;
  /* vermelho principal (botões) */
  --color-primary-hover: #f04a4a;
  --color-accent: #3c83f6;
  /* azul secundário */
  --color-accent-hover: #639cf8;
  --color-success: #22c55e;
  --color-warning: #f59e0b;

  /* SOMBRAS */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  /* BRILHO COLOR PRIMARY */
  --shadow-primary-sm: 0 1px 2px 0 rgb(235 35 35 / 0.2);
  --shadow-primary-md: 0 4px 15px 0 rgb(235 35 35 / 0.4);
}

/* BASE mínima pra fundo e tipografia global */
@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      Arial,
      sans-serif;
  }
}

/* uma leve animação do items subindo e descendo bem suave infinito */
@layer utilities {
  @keyframes slide-up {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }

  .animate-slide-up {
    animation: slide-up 2.5s ease-out infinite;
  }
}
